@import "~bootstrap/dist/css/bootstrap.css";

html {

    &::-webkit-scrollbar {
        width: 0px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}
