<div class="card ">
  <img
    src="https://a-static.besthdwallpaper.com/raya-and-the-last-dragon-movie-poster-2021-wallpaper-2304x864-63009_86.jpg"
    class="img-fluid card-img"
    alt="..."
  >
  <div class="card-img-overlay d-flex flex-column h-100">
    <h3 class="card-title fw-bold text-break text-white">RAYA AND THE LAST DRAGON</h3>
    <div class="banners-button hstack gap-3 ">
      <button type="button" class="btn btn-primary small ml-3">Assistir</button>
      <button type="button" class="btn btn-light">Ver depois</button>
    </div>
  </div>

</div>

