.card-img-overlay {
  background: linear-gradient(0deg, rgba(37,37,37,0.5242471988795518) 0%, rgba(24,204,221,0) 85%);
}

.card-img-overlay {
  justify-content: center;
}

.card {
  border: none;
}

@media (max-width: 600px) {
  .banners-button {
    display: none;
  }

  .card-title {
    font-size: 18px;
  }

  .card-img-overlay {
    justify-content: end;
  }

}

@media (max-width: 400px) {

  .card-title {
    font-size: 14px;
  }
}

