<div class="m-2 cursor-pointer poster d-flex align-items-center justify-content-center">
  <div
    class="poster__card card bg-dark text-white"
  >
    <img
      class="poster__img"
      [src]="urlBaseImage + movie.poster_path"
      alt="Card image"
      loading="lazy"
    />
    <div class="poster__overlay card-img-overlay d-flex flex-column justify-content-end align-items-start">
      <p class="poster__title card-title fw-bold">{{movie.title}}</p>
      <p class="poster__vote_average fw-medium">{{'IMDb ' + movie.vote_average.toFixed(1) + ' ⭐'}}</p>
    </div>
  </div>
</div>
