body {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: linear-gradient(to top, #8360c3, #2ebf91);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-box > * {
  margin: 5px 0px;
}

.legend {
  color: #ffffff;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.title-section {
  color: #ffffff;

  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 58px;
}

.box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  min-height: 250px;
  height: auto;
  max-height: 350px;
}

.accordion-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: text;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover {
  background-color: rgb(249, 250, 251);
}

.submit:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.submit:focus-visible {
  box-shadow: none;
}
