section {
  padding: 0px 20px
}

.carousel-movies-container {
  display: flex;
  position: relative;
  overflow: scroll hidden;
  width: 100%;
  user-select: none;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
