<section>
  <h4 class="text-white my-3" >Populares</h4>
  <div class="carousel-movies-container" ngxConveyer>
    <div *ngFor="let movie of movies" class="container-card me-4 d-flex justify-content-center">
      <div
        (click)="getMovieDetail(movie.id)"
        class="card card-poster bg-dark text-white"
        data-bs-toggle="modal" data-bs-target="#GFG"
      >
        <img
          class="card-img"
          [src]="'https://image.tmdb.org/t/p/original' + movie?.poster_path"
          alt="Card image"
          loading="lazy"
        />
        <div class="card-img-overlay detail-card d-flex justify-content-start align-items-end">
          <p class="card-title fw-semibold">{{movie.title}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="movieDetail" class="modal fade" id="GFG">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
              <div
                class="card text-white"
              >
              <div class="modal-container-image" data-bs-theme="dark">
                <img
                  class="card-img"
                  [src]="'https://image.tmdb.org/t/p/original' + movieDetail.backdrop_path"
                  alt="Card image"
                  loading="lazy"
                />
                <div class="overlay"></div>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal">
                </button>
              </div>
                <div class="container-info card-body d-flex flex-column justify-content-center align-items-start">
                  <h1 class="card-title fw-bold">{{movieDetail.title}}</h1>
                  <p class="card-title fw-semibold">{{movieDetail.overview}}</p>
                  <p class="card-title fw-medium">{{movieDetail.runtime + 'min'}}</p>
                  <p class="card-title fw-medium">{{movieDetail.release_date}}</p>
                  <p class="card-title fw-semibold text-gray">{{'IMDb ' + movieDetail.vote_average.toFixed(1)}}</p>
                  <div class="d-flex">
                    <div class="me-2 card-title fw-medium" *ngFor="let genre of movieDetail.genres">
                      {{genre.name}}
                    </div>


                  </div>
                  <div class="hstack gap-3 ">
                    <button type="button" class="btn btn-primary small ml-3">Assistir</button>
                    <button type="button" class="btn btn-light">Ver depois</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
